<div class="container center-div d-flex justify-content-center align-items-center">
    <div class="login-card">
        <h3 class="text-center mb-4">Welcome to Angular WS</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email"
                    required>
                <div class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
                    <span *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" required
                    formControlName="password">
                <div class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <span *ngIf="loginForm.get('password')?.errors?.['required']">Email is required.</span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
                </div>
            </div>
            <div *ngIf="loginError" class="text-danger">
                Your username or password is not correct
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>