<div class="table-responsive">
  <table class="table table-striped align-middle" id="todo-table">
    <thead class="table-dark">
      <tr>
        <th style="width: 8%">#</th>
        <th>Task</th>
        <th style="width: 15%">Completed</th>
        <th style="width: 25%">Actions</th>
      </tr>
    </thead>
    <tbody id="todo-body">
      <tr *ngFor="let item of data; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.description}}</td>
        <td>{{item.completed | tostring}}</td>
        <td>
          <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item.id)">Remove</button>
          <button type="button" class="btn btn-sm" toggleClass [condition]="item.completed" (click)="onToggle(item)">{{item.completed ? 'Undo' : 'Done'}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>