<div class="table-responsive">
      <table class="table table-striped align-middle" id="todo-table">
        <thead class="table-dark">
          <tr>
            <th style="width: 8%">#</th>
            <th>Task</th>
            <th style="width: 15%">Status</th>
            <th style="width: 25%">Actions</th>
          </tr>
        </thead>
        <tbody id="todo-body">
          <tr>
            <td>1</td>
            <td>Item 1</td>
            <td></td>
            <td></td>
          </tr>
          <!-- Tasks will be added dynamically -->
        </tbody>
      </table>
    </div>